.product-card {
  height: 400px;
  width: 300px;
  border: 1px solid gray;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-img {
  height: 65%;
}
.card-content {
  height: 35%;
}
.add-to-cart-btn {
  width: 90%;
  height: 20%;

  cursor: pointer;
  background-color: skyblue;
  border: none;
}
.add-to-cart-btn:hover {
  opacity: 0.8;
}
.card-name-div {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1rem;
}
.product-name {
  font-weight: 600;
  font-size: 1.2rem;
}
