.product-list-page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.filter-list {
  width: 20%;
  min-height: 100vh;

  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
}
.product-list {
  min-width: 80%;
  /* min-height: 100vh; */
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 2rem;
  align-content: center;
  justify-content: center;
}
.product-list-page-main {
  display: flex;
}
